# Installation and Editor

# https://www.python.org/downloads/
Any editor you feel more comfortable
-PyCharm
-Visual Studio Code
-Jupyter Notebook 
    https://jupyter.org/install

Online Python Compiler

https://www.programiz.com/python-programming/online-compiler/

https://www.online-python.com/

# Jupyter Notebook 

- Browser based editor
- Write and compile your code in cells

# Heading
## Smaller heading
### Even smaller
#### smallest

python is great

Markdown - documentation and explaning you code

Adding text, table etc

| Python | Jupyter | IDE |
| --- | --- | --- |
| 3 | Notebbok | Any |

To **run** the code in a cell:  Click on *Run* or *Shift + ENTER / Return*

Delete the cell - **double click on D**

Add new cell
** A ** : Above the current cell
** B ** : Below the current cell

# Python version

In [2]:
import sys
print(sys.version)

3.9.7 (default, Sep 16 2021, 08:50:36)
[Clang 10.0.0 ]

Make sure you have a version of Python-3 <br>
Python-2 is not supported anymore! (No improvement)

# First Code in Python

In [4]:
print("Hello World !!")
print('Hello World !!')
print(123)
print("123")
# print(x) -- shows the given input-(x) on the screen !!

Hello World !!
Hello World !!
123
123

## Adding Comment in Python

Good for documentation

In [6]:
# this is a comment
print("comment")
# print("comment out")

comment

# Variable

A name that refers to a value. (i.e. form real life, $\pi$ (pi) is 3.141592653589793238)

• Variable names can be arbitrarily long.

• Names contain both letters and numbers. But have to begin with a letter. (2y = 22)

• Underscore (_) character can appear in a name.

• Case sensitive, x and X is different !!! .

• Don’t use Python reserved keywords.

In [1]:
y = 1
y1 = 2

x1 = 1

lastname = "q"
person_lastname =  "e"

In [14]:

# no need to declare type

y = "python"

x2 = "44"

print(2)
x = 2
print(x)
print(y)
print(x2)

2
2
python
44

In [17]:
first_name = "Ali"

first_name, last_name, company = "Ali", "Uzun", "Tyndall"

print(first_name, last_name, company)

a=1
b=1
c=1

a=b=c=1 # assign multiple variable to same values
print(a)
print(b)
print(a,b,c)

Ali Uzun Tyndall
1
1
1 1 1

In [22]:
d=1

d = 1,2,4 # tupple
d=e=f=1,2,4
print(d)
print(d,e,f)

(1, 2, 4)
(1, 2, 4) (1, 2, 4) (1, 2, 4)

In [13]:
x = "lowercase x-1"
X = "uppercase X-2"

print(x)
print(X)

lowercase x-1
uppercase X-2

## Python Keywords - Do not use as variable !!

In [46]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

Python keywords are green when you type them!

In [24]:
a = 1
as_1 = 2

## Values and Types

• Value -> e.g., a number, a letter, text, etc.

• Value have types. (number, character etc)

In [29]:
x = 2
print(x)

x_t = type(x) # gets type of variable x
x_tt = type(x_t)
x_ttt = type(x_tt)
print(x_t) # value is 2 but it is a number , integer

print(x_tt)
print(x_ttt)

2
<class 'int'>
<class 'type'>
<class 'type'>

In [ ]:
True
true

# Data Type in Python

1) boolean (bool) -- True (1) or False (0)

2) integer (int) -- a number

3) float (float) -- a decimal

4) string (str) -- squence of character in " " or ' '


5) list(list) -- squence of ordered object, similar to array in oter language

6) tuple (tuple) -- squence of fixed length, where elements position is meaningful

7) dictionary (dict) -- ordered grouping of key-value pairs (for python 3.7 or later)

In [ ]:
ages = (1,2,3,4) # tupple
ages = [1,2,3,4] #list
ages = {"p1":1,"p2":2,"p3":3,"p4":4} #

In [34]:
x = 2 #integer
print(type(x)) # value is 2 but it is a number , integer

x = 2.0 #float
print(type(x)) # value is 2.0 but it is a number , float

x1 = "a" # string "11, asd, ", "*", "---"
x2 = "a1*w"
print(type(x1))
print(type(x2))

t = "hsdgfhg"
x = True # boolean
print(type(x))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>

# Type Casting

In [39]:
x = 10
print(type(x))

y = str(x) # convert to string 
print(type(y))


y = float(x) # convert to float 
print(y)
print(type(y))

t=1.2
t1 = int(t) # float to integer
print(type(t))
print(type(t1))

<class 'int'>
<class 'str'>
10.0
<class 'float'>
<class 'float'>
<class 'int'>

In [40]:
# No convertion from string to number!
x = "abc"
print(type(x))

y = int(x) # convert to int 
print(type(y))

y = float(x) # convert to float 
print(type(y))

<class 'str'>

ValueError: invalid literal for int() with base 10: 'abc'

In [43]:
a = 123
print(type(a))

a = 123.0
print(type(a))

a_s = str(a)
print(type(a_s))

<class 'int'>
<class 'float'>
<class 'str'>

# Operators and Operands

• Operators are special symbols that represent computations like addition and multiplication.

• The values that the operator is applied to are called operands.

• +, -, /, *, **

![PIC](Data/f1.png)

In [45]:
x  = 2 + 4
x2 = 4 / 2
x3 = 2**4

print(x)
print(x2)
print(x3)

y = "a" + " b" + " c"
y1 = "a"*3

print(y)
print(y1)

6
2.0
16
a b c
aaa

In [46]:
x = 9
y=4

print(9//4)
print(9%4)
print(x**2)

2
1
81

## Modulus Operator - %
Return remainder.

The modulus operator is used i.e. to check whether one number is divisible by another. For example, if x % y is zero, then x is divisible by y.

In [50]:
print(7%2)

print (8%4)

1
0

# Boolean & Relational & Logical Operators

## Boolean Expression
A boolean expression is an expression that is either True or False.

In [48]:
print (5 == 5)

exp = "A"=="a"
print (exp)

print(type(exp))


a = 2

True
False
<class 'bool'>

## Relational Operators
Relational operators are:

1) x **==** y # x is equal to y

2) x **!=** y # x is not equal to y

3) x **>** y # x is greater than y

4) x **<** y # x is less than y

5) x **>=** y # x is greater than or equal to y

6) x **<=** y # x is less than or equal to y

A common erroris to use a single equal sign (=) instead of a double equal sign (==). Remember that **=** is an **assignment operator** and **==** is a **relational operator**.

In [49]:
x,y = 2,4

print (x==y)

print (y!=x)

print (x < y)

False
True
True

# Logical Operators
There are three logical operators: **and**, **or**, and **not**.

The semantics (meaning) of these operators is similar to their meaning in English.

In [34]:
x = 5

print (x > 0 and x<10)
print (x > 0 & x<10)

print (x > 0 or x <3)
print (x > 0 | x <3)

print (not(x < 10))

True
True
False

# if-else Condition

The ability to check conditions and change the behavior of the programaccordingly.

In [51]:
x = -1

if x > 0:
    print ('x is positive')

![PIC](Data/condition.png)

In [55]:
x = 20

if x%2 == 0:
    print ('x is even')
else: 
    print ('x is odd')

x is even

In [52]:
x = 12
y = 10

if x < y:
    print ('x is less than y')
elif x > y: # else if
    print ('x is greater than y')
else:
    print ('x and y are equal')

x is greater than y

In [53]:
if x < y:
    print ('x is less than y')
if x > y: # else if
    print ('x is greater than y')
if x == y:
    print ('x and y are equal')

x is greater than y

## Chained Conditionals

•Each condition is checked in order.

•If the first is false, the next is checked, and so on.

•If one of them is true, the corresponding branch executes, and the statement ends.

•Even if more than one condition is true, onlythe first true branch executes.

•If there is an else clause, it has to be at the end, but there doesn’t have to be one.

In [8]:
if condition1:
    print ('1')
elif condition2:
    print ('2')
elif condition3:
    print ('3')
    .
    .
    .
else:
    print ('n')

SyntaxError: invalid syntax (1415433782.py, line 7)

## Nested Conditionals
One conditional can also be nested within another.

In [40]:
x = 12
y = 10

if x == y:
    print ('x and y are equal')
else:
    if x < y:
        print ('x is less than y')
    else:
        print ('x is greater than y')
        if x < y:
            print ('x is less than y')
        else:
            print ('x is greater than y')

x is greater than y

# Updating Variables
## Increment and Decrement

In [56]:
x = 0 # initialize the variable

print(x)
x = x + 10 # increment by 1
print(x)

0
10

In [59]:


x = x - 1 # decrement by 1
print(x)

s = 0
s = s + 2 # s = 3
print(s)

7
2

# List and Tuple and Dictionary
## List()

•Like a string, a list is a sequence of values.

•In a string, the values are characters; in a list, they can be any type.

•The values in a list are called elements or sometimes items.

In [60]:
# Initialize empty list
l = list()
l2 = []

print(type(l))

print(l)
print(l2)

<class 'list'>
[]
[]

In [11]:
# Initialize list
l = list("ab123") # only with string
l2 = ["k","l","m"]

print(l)
print(l2)

print(" ")
print("item in a list could be")
l2 = [1,1.5,"k",[123],[],("a","b")]
print(l2)

['a', 'b', '1', '2', '3']
['k', 'l', 'm']

item in a list could be
[1, 1.5, 'k', [123], [], ('a', 'b')]

In [64]:
# Append and delete
l = list() # []
print(l)

l.append("a")
print(l)

l.append(1)
print(l)

print("DELETE item in a list")
l2 = list("abcdef")
print(l2)

l2.remove("d") # remove by item
print(l2)
print(" ")

x0 = l2.pop(0) # remove by index and return it if you want
print("Deleted item: " + x0)
print(l2)


del l2[0] # remove by index
print(l2)

[]
['a']
['a', 1]
DELETE item in list
['a', 'b', 'c', 'd', 'e', 'f']
['a', 'b', 'c', 'e', 'f']

Deleted item: a
['b', 'c', 'e', 'f']
['c', 'e', 'f']

## Other Operation with list

### In Operation

In [67]:
cheeses = ['Cheddar', 'Edam', 'Gouda']

x = 'Edam' in cheeses
print(x)

y = 'Brie' in cheeses
print(y)

print(" ")
print("This also works for string !!!")

letters = "abcd"
y = 'a' in letters
print(y)

True
False

This also works for string !!!
True

## Others
### Concatenates
•The **+** operator concatenates lists

In [2]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print (c)

[1, 2, 3, 4, 5, 6]

### Repeat
•The * operator repeats a list a given number of times:

In [3]:
a = [1, 2, 3]
b = [4, 5, 6]

print(a*2)
print(b*4)

[1, 2, 3, 1, 2, 3]
[4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6]

## Lists –Accessing Items
### Index

![PIC2](Data/index.jpeg)

In [61]:
s = list("abcdef")

# gets number of items in a list
print(len(s))

# get first item
print(s[0]) # square bracket []

# get last item
print(s[5]) # len(s)-1
print(s[-1])

6
a
f
f

### Sort List Alphanumerically and numerically

In [10]:
x = 1
List_1 = [10000, 50, 61,75 , -5 , 0.005,82, 23]

List_1.sort() # by default, reverse=False
print(List_1)

print("Reverse Order")
List_1.sort(reverse=True)
print(List_1)

[-5, 0.005, 23, 50, 61, 75, 82, 10000]
Reverse Order
[10000, 82, 75, 61, 50, 23, 0.005, -5]

In [7]:
List = ["orange", "mango", "kiwi", "pineapple", "banana", 'benz', 'bMW' ,"trolley"]
List.sort()
print(List)

['bMW', 'banana', 'benz', 'kiwi', 'mango', 'orange', 'pineapple', 'trolley']

In [8]:
first_list = ['a', 'b', 'c']
first_list.reverse()
print(first_list)

['c', 'b', 'a']

## Tuple()

You could apply +, * operation on tupple as well

But cannot edit a tupple !!
sort() does work --> use sorted(t) function which create a new tuple

In [8]:
# Initialize empty list
t = tuple()

print(type(t))
print(t)

t = tuple("12345")
print(t)

#get item by index
print(t[0])

# concatenation
print(t+t)

# repeat
print(t*2)

<class 'tuple'>
()
('1', '2', '3', '4', '5')
1
('1', '2', '3', '4', '5', '1', '2', '3', '4', '5')
('1', '2', '3', '4', '5', '1', '2', '3', '4', '5')

In [2]:
t = tuple("12345")
print(t)

('1', '2', '3', '4', '5')

In [3]:
t.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [61]:
t = tuple("912345")
t_sorted = sorted(t) # need to use 
print(t)
print(t_sorted)

('9', '1', '2', '3', '4', '5')
['1', '2', '3', '4', '5', '9']

### Convertion between tuple and list

Useful when you need to update a tuple as we cannot modify tuple itself

In [4]:
t = ('my', 'name', 'is', 'mr', 'tuple')
print(t)

l = list(t)
l.append("2")
print(l)

t = tuple(l)
print(t)

('my', 'name', 'is', 'mr', 'tuple')
['my', 'name', 'is', 'mr', 'tuple', '2']
('my', 'name', 'is', 'mr', 'tuple', '2')

In [11]:
l = ['my', 'name', 'is', 'mr', 'tuple']
print(l)

t = tuple(l)
print(t)

['my', 'name', 'is', 'mr', 'tuple']
('my', 'name', 'is', 'mr', 'tuple')

## Dictionary()

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered and changeable but does not allow duplicates.

In [7]:
# initialize a dictionary
d = {}
d1 = dict()
print("Empty Dictionary: ")
print(d)

# using dict()
d1 = dict({'item1': 2, 'item2': 2, 'item2': 120, 2: 3, 'item3': [1, 2, 3]})
print(d1)

Empty Dictionary:
{}
{'item1': 2, 'item2': 120, 2: 3, 'item3': [1, 2, 3]}

In [5]:
d3 = {1:2,12:"a"}
print(d3)

{1: 2, 12: 'a'}

In [8]:
d = {} # initial
d["item1"] = 1
print(d)

d["item2"] = 2
print(d)

# key could be - int, str,
d[2] = "item"
print(d)

#value could be int, str, list, dict, tuple etc
d["item3"] = [1,2,3]
print(d)

{'item1': 1}
{'item1': 1, 'item2': 2}
{'item1': 1, 'item2': 2, 2: 'item'}
{'item1': 1, 'item2': 2, 2: 'item', 'item3': [1, 2, 3]}

In [9]:
#get value of an item
print(d["item2"])

print("get keys as list")
print(d.keys())

print("get values as list")
print(d.values())

2
get keys as list
dict_keys(['item1', 'item2', 2, 'item3'])
get values as list
dict_values([1, 2, 'item', [1, 2, 3]])

In [66]:
print("Delete an item")
# Removing elements from a dictionary
print(d)
# remove a particular item, returns its value
print(d.pop("item1"))
print(d)

#clear all items
d.clear()
print(d)

Delete an item
{'item1': 1, 'item2': 2, 2: 'item', 'item3': [1, 2, 3]}
1
{'item2': 2, 2: 'item', 'item3': [1, 2, 3]}
{}

# for and while loop
## for loop

range(start,end,step): start is included,

if step is 1, you do not need to fill

Generally we use when we know the number of operation/action

In [15]:
for number in range(0,10,2):
    print(number)

    #number = 0, 2,4,...

0
2
4
6
8

In [ ]:
print("same as")
for i in range(0,5):
    print(i)

In [23]:
s = "abcd123"
s1 = [1,2,3,"a","b"]

for l in s: # direct reach of items in s
    print(l)

a
b
c
d
1
2
3

In [20]:
len(s)

7

In [22]:
for i in range(len(s)): # reach of items in s using index
    print(s[i])

a
b
c
d
1
2
3

## while loop

j = initialize variable

while(condition):
    statement
    update j

step

In [1]:
i = 0 # initial value
while(i<5): # i=0,1,2,3,4
    print(i)
    i = i + 1 # step ---

0
1
2
3
4

In [4]:
s = "abcd123"

index = 0
while(index < len(s)):
    
    print(s[index])
    index = index + 1 # index +=1

a
b
c
d
1
2
3

In [1]:
from turtle import *

left(90)
forward(150)
left(90)
forward(150)
left(90)
forward(150)
left(90)
forward(150)

done()

In [1]:
from turtle import *

for i in range(4):
    left(90)
    forward(150)

    print(pos())

done()

(0.00,150.00)
(-150.00,150.00)
(-150.00,0.00)
(-0.00,-0.00)

In [1]:
from turtle import *

edge_count = 0
while edge_count < 4:
    left(90)
    forward(150)
    edge_count = edge_count + 1

In [1]:
from turtle import *

edge_count = 8
for i in range(edge_count):
    left(45)
    forward(75)

![PIC2](Data/polygon_rule.jpeg)

In [3]:
from turtle import *

edge_count = 8
turn_angle = 360 / edge_count

edge_length = 100
for i in range(edge_count):
    left(turn_angle)
    forward(edge_length)

## Example-1: Area of a trianle using 3 sides

![PIC2](Data/herons_formula.png)

In [11]:

# give values for a,b and c
a = 3
b = 6
c = 8

# calculate the semi-perimeter
s = (a + b + c) / 2

# calculate the area
area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
print('The area of the triangle is ' + str(area))
print('The area of the triangle is %0.5f' % area)

The area of the triangle is 7.644442425710328
The area of the triangle is 7.64444

## Example-2: Check if a Number is Positive, Negative or 0

In [14]:

number = -0

if number > 0:
    print("Positive number")
elif number < 0:
    print("Negative number")  
else: # number == 0
    print("Zero")

Zero

## Example-3
Write a function that takes two integers and prints the sum of all odd integers and the sum of
the even integers between them (separately). For example. 

If the two numbers are 1 and 7 the function should print:

Sum of Odds= 8
Sum of Evens= 12

In [15]:
start = 0
end = 10

even_sum = 0
odd_sum = 0

for number in range(start+1, end):
    if number%2 == 0:
        even_sum = even_sum + number
    else:
        odd_sum = odd_sum + number

print("Sum of Evens = " + str(even_sum))
print("Sum of Odds = " + str(odd_sum))

Sum of Evens = 20
Sum of Odds = 25

## Example-4 Check Prime Number

A positive integer greater than 1 which has no other factors except 1 and the number itself is called a prime number. 2, 3, 5, 7 etc.

![PIC2](Data/prime_number.gif)

In [16]:
number = 11
# flag variable to tell use whether condition is satisfied or not
divisible = False

# number must be greater than 1
if number > 1:
    #check divisibility for each number from 2 to number-1
    for k in range(2,number):  
        if (number%k ==0):
            # chnage flag to True if the factor is found
            divisible = True
            break # break out the loop, jump to next line

#---- jump here
# check the factor           
if (divisible):
    print(number, " is NOT a prime number !!" )
else:
    print(number, " is a prime number !!" )

11  is a prime number !!